<div id="container-form">
    <h1>Cadastre-se</h1>

    <div id="form">

        <form action="/createUser" method="POST">

            <input type="text" name="login" id="login" placeholder="NOME">

            <input type="password" name="password" id="password" placeholder="SENHA">

            <input type="email" name="email" id="email" placeholder="E-MAIL">

            <button type="submit">Cadastre-se</button>
        </form>

    </div>

</div>