<div id="home">

    <h1>Bem vindo a estante de livros!</h1>

<div id="container-options">
     <div class="home-card">
        <h2><a href="/login">Logar!</a></h2>
      </div>

    <div  class="home-card">
        <h2><a href="/createuser">Crie uma conta para ver os livros disponiveis</a></h2>
    </div>



</div>

</div>