<div ID="container-form">
    <h1>Inserir livro</h1>

    <div id="form">
        <form action="/insertbook" method="POST">
        
        <input type="text" name="name" id="name" placeholder="NOME DO LIVRO" >

        <input type="text" name="author" id="author" placeholder="AUTOR">

        <input type="number" name="pages" id="pages" placeholder="QTD. PAGINAS">

        <textarea name="synopsis" id="synopsis" cols="30" rows="10" placeholder="SINOPSE"></textarea>


            <button type="submit">Cadastrar</button>


        </form>
    </div>
</div>