<div id="container-books">
    <h1>Livros cadastrados</h1>

    <div id="books">
        {{#each books}}
            <div class="card-book">
                <h3>{{this.name}}</h3>
                <p>Autor: {{this.author}}</p>
                <p>Páginas: {{this.pages}}</p>

                <details>
                    <summary>Sinopse</summary>
                    <p>{{this.synopsis}}</p>

                </details>

            </div> 
        {{/each}}
    </div>
</div>




